/*!
Theme Name: SilverBird Lite
Theme URI: https://github.com/MPolleke/silverbird-lite
Theme URI (old): http://www.wp3layouts.com/silverbird-elegant-wordpress-blog-theme/
Author: WP3Layouts mpol
Author URI: https://timelord.nl/
Author URI (old): http://www.wp3layouts.com/
Description: Silverbird Lite is simply Elegant SEO friendly WordPress Theme suitable for fashion blogging, photography, food and travel with tons of options to choose from. Silverbird Lite WordPress theme is Mobile Responsive, light weight and comes fully intergrated with Social Media icons to enable your readers share your posts. The enormous features that are packed into this theme allows you to design and customize it to your satisfaction. In the homepage you can display a single large post slider or a post slider with two featured posts beside it, giving you the opportunity to highlight more posts to your readers. All the customizations can be done in the WordPress Theme customizer section. Some features in this version of Silverbird Lite includes different Header Logo positions, Header Ads widget, Posts Formats for Gallery, Video, and Audio. Post Carousel, Related Posts, Random Slide-in post appears when user scrolls to the bottom of the page, Footer Widgets, About Me Widget, Sticky Sidebars, Recent Post with featured image. Different post layouts also allows you to select if you want to display your featured image in full width.
Version: 1.1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: silverbird-lite
Tags: theme-options,blog,custom-background,custom-menu,custom-colors,featured-images,threaded-comments,right-sidebar,two-columns,footer-widgets,full-width-template,photography,holiday


Copyright 2018         WP3Layouts.com
Copyright 2020 - 2021  Marcel Pol (email: marcel@timelord.nl)




/*------------------------------------------------------------------
Table of contents

1. Inputs
2. Elements
3. Header
4. Main Menu
5. Home Slider
6. Promo Box
7. Main Content
8. Widget
9. Single Blog
10. 404 page
11. Footer
12. Preload

-------------------------------------------------------------------*/


/*--------------------------------------
 Inputs
--------------------------------------*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
select,
textarea {
	border: 2px solid #eeeeee;
	padding: 8px 15px;
	font-style: italic;
	display: block;
	width: 100%;
	outline: none;
	box-sizing: border-size;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
	-moz-transition: border .25s ease-in-out;
	-webkit-transition: border .25s ease-in-out;
	-ms-transition: border .25s ease-in-out;
	transition: border .25s ease-in-out;
	border: solid 2px #BC9F60;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	outline: none;
}
/* Button */
input[type="button"],
input[type="submit"],
input[type="reset"],
button{
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
	-webkit-appearance: none;
	position: relative;
	display: inline-block;
	background: #BC9F60;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
	font-weight: 800;
	outline: 0;
	border: 0;
	cursor: pointer;
	font-size: 1.35em;
	padding: 0.6em 1.5em;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
	background: #BC9F60;
}

.form-control:focus {
	border-color: #eee;
	outline: 0;
	/* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); */
	box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 0 rgba(102, 175, 233, .6);
}
/*--------------------------------------
  Elements
--------------------------------------*/

body {
	background: url("assets/images/pattern/bg.png");
	font-family: serif;
	color: #444444;
	font-size: 14px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background-attachment: fixed;
}

a:active,
a:focus {
	outline: none !important;
}

a {
	-webkit-transition: all 0.33s;
	-moz-transition: all 0.33s;
	-o-transition: all 0.33s;
	transition: all 0.33s;
	text-decoration: none;
	color: #BC9F60;
}

a:hover,
a:focus {
	color: #444444;
	text-decoration: none;
}

a,
a:hover,
.btn,
.btn:hover,
input:focus,
textarea:focus {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

p {
	line-height: 24px;
	color: #444444;
}

img {
	max-width: 100%;
	height: auto;
}

a img,
iframe {
	border: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #212121;
	font-family: serif;
	margin-bottom: 20px;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  font-style: italic;
  border-left: 5px solid #BC9F60;
}

.wrapper {
	position: relative;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

/* BTN */
.btn {
	border-radius: 0;
	letter-spacing: 1px;
	padding: 13px 20px;
	border: 0;
	line-height: 13px;
}



/*--------------------------------------
  Header
--------------------------------------*/

#header {
	background-color: #ffffff;
}

.main-logo {
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: middle;
	overflow: hidden;
}
.main-logo h1 {
   margin-bottom: 10px;
   letter-spacing: 5px;
   font-size: 48px;
   font-weight: bold;
   font-family: serif;
   text-transform: capitalize;
}
.site-description{
	font-family: serif;
	font-size: 18px;
}
.logo-section{
	float: left;
}
.ad-section,
.hd-social-section{
	float: right;
	padding-top: 10px;
}
.ad-section{
	max-height: 95px;
}

.hd-social-section .social-follow {
	border: none;
	padding-right: 0;
	padding-top: 40px;
}
.hd-social-section .social-follow li{
	display:inline-block;
	margin:0 10px;
	padding: 0 10px;
	*width: 10%;
	font-size: 14px;
}
.hd-social-section .social-follow li:last-child{
	margin:0 0px;
}

#search-btn{
	cursor: pointer;
}

/* The search overlay effect with black background */
.search-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  *background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/* Header search content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.search-overlay #closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
  cursor: pointer;
  color: #fff;
}

.search-overlay #closebtn:hover {
  color: #ccc;
}

.search-overlay input[type=search] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: #ddd;
}

.search-overlay input[type=search]:hover {
  background: #f1f1f1;
}

.search-overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  *background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 0;
}


/*--------------------------------------
  Main-menu
--------------------------------------*/

.main-menu {
	border-top: 1px solid #eeeeee;
}

.main-menu ul,
.main-menu ul ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	font-family: serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 64px;
	padding: 0 22px;
	letter-spacing: 0.5px;
	color: #666666;
	display: block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.main-menu li a:after {
	content: '';
	border-right: 1px solid #e2e2e2;
	position: absolute;
	right: 0;
	top: 24px;
	height: 16px;
}

.main-menu li:last-child a:after {
	border-right: 0;
}

.main-menu li > a:before {
	position: absolute;
	top: -1px;
	left: 50%;
	right: 50%;
	height: 1px;
	content: '';
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.main-menu li:hover > a:before {
	background: #BC9F60;
	left: 0;
	right: 0;
}

.main-menu li.current-menu-item > a,
.main-menu li.current_page_item > a,
.main-menu li a:hover {
	color: #BC9F60;
}

.main-menu ul ul ul li:first-child a {
	border-top: 0 solid #ddd;
}

.main-menu ul ul li,
.main-menu ul ul ul li {
	padding-right: 0;
	margin-right: 0;
}

.main-menu ul ul a:hover,
.main-menu ul ul ul a:hover {
	color: #BC9F60;
}

.main-menu ul li:hover > ul,
.main-menu ul ul li:hover > ul {
	display: block;
}

.main-menu ul .sub-menu ul,
.main-menu ul .children ul {
	left: 100%;
	top: 0;
}
.main-menu ul .fa,
.main-menu ul .sub-menu li .fa,
.main-menu ul .children li .fa{
	display: none;
}
.main-menu .menu-item-has-children .fa,
.main-menu .page_item_has_children .fa{
	display: inline-block;
}


/* Mobile menu */

.slicknav_menu {
	display: none;
}


/* Menu Search btn*/
.main-menu .search-container #menu-search-btn{
	position: absolute;
	right: 3px;
	top: 50%;
	margin-top: -14px;
	*z-index: 9;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: right;
	display: inline-block;
	font-size: 15px;
	color: #5E5E5E;
	cursor: pointer;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

@media screen and (max-width: 768px) {
	.js #menu {
		display: none;
	}
	.js .slicknav_menu {
		display: block;
	}
	.slicknav_menu li a .fa {
		display: none;
	}
	.slicknav_menu {
		font-size: 16px;
		box-sizing: border-box;
		background: #f7f7f7;
		padding: 0;
	}
	.slicknav_nav li {
		border-bottom: 1px solid #f4f4f4;
		margin: 0;
		background: #fff;
		padding: 0;
	}
	.slicknav_nav a {
		padding: 10px 0;
		margin: 0 5px;
		text-decoration: none;
		color: #000;
		text-transform: uppercase;
		text-align: center;
	}
	.slicknav_nav a:hover {
		color: #BC9F60;
	}
	.slicknav_open > a > a,
	.slicknav_open .slicknav_arrow,
	a:hover .slicknav_arrow {
		color: #BC9F60;
	}
	.slicknav_open li {
		background: #f7f7f7
	}
	.slicknav_nav .slicknav_item a {
		padding: 0;
		margin: 0;
	}
	.slicknav ul ul {
		margin: 0;
		padding: 0;
	}
	/*    .slicknav_nav li li:first-of-type {
			border-top: 1px solid #f4f4f4;
		}*/
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_item a:hover {
		background: transparent;
	}
	.slicknav_nav .slicknav_row:hover {
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 0;
		background: transparent;
		color: #fff;
	}
	.slicknav_nav .slicknav_row:hover {
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 0;
		background: transparent;
		color: #000;
	}
	.slicknav_nav ul {
		padding: 0;
		margin: 0;
	}
	.slicknav_nav ul ul {
		padding: 0;
		margin: 0;
		background: #f7f7f7;
	}
	.slicknav_nav .slicknav_row {
		padding: 5px 10px;
		margin: 0 5px;
	}
	.slicknav_menu .slicknav_menutxt {
		display: none;
	}
	.slicknav_btn {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		float: none;
		padding: 15px 0 25px;
		line-height: 1.125em;
		cursor: pointer;
		left: 49%;
		margin-left: -10px;
		background-color: transparent;
	}
	.slicknav_parent li:first-of-type {
		border-top: 1px solid #ddd;
	}
	.slicknav_parent li {
		border-bottom: 1px solid #ddd;
	}
	.slicknav_menu .slicknav_icon-bar {
		background-color: #222;
	}
	.slicknav_menu .slicknav_icon-bar {
		display: block;
		width: 1.125em;
		height: 2px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		-webkit-box-shadow: 0 1px 0 rgba(10, 7, 7, 0.25);
		-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
		box-shadow: 0 1px 0 rgba(10, 8, 8, 0.25);
	}
}


/*--------------------------------------
   Home Slider
-------------------------------------- */
.nopost-message{
	padding: 20px;
	background: #fff;
	margin-top: 30px;
	border: 1px solid #eeeeee;
}
.home-carousel {
	overflow: hidden;
}

.home-carousel.owl-theme .owl-controls .owl-buttons div {
	color: #FFF;
	display: inline-block;
	zoom: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 49%;
	background: rgba(0, 0, 0, .3);
	font-size: 25px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	transition: all .4s;
}

.home-carousel.owl-theme .owl-controls .owl-buttons .owl-next {
	right: -50px;
	z-index: -1;
}

.home-carousel.owl-theme:hover .owl-controls .owl-buttons .owl-next {
	right: 20px;
	z-index: 1;
}

.home-carousel.owl-theme .owl-controls .owl-buttons .owl-prev {
	left: -50px;
}

.home-carousel.owl-theme:hover .owl-controls .owl-buttons .owl-prev {
	left: 20px;
}

.home-carousel .owl-pagination {
	margin-top: 10px;
	text-align: center;
	position: absolute;
	left: 50%;
	bottom: 0;
	transition: all .4s;
	opacity: 0;
	margin-left: -25px;
}

.home-carousel:hover .owl-pagination {
	bottom: 13px;
	opacity: 1;
}

.home-carousel.owl-theme .owl-controls {
	margin: 0 !important;
}

.home-carousel.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px;
	background: rgba(0, 0, 0, .8);
}

.home-carousel.owl-theme .owl-controls .owl-page.active span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	background: rgba(256, 256, 256, .7);
}
/*  Slides */
.slider-section {
	margin-top: 10px;
	display: none;
}

.home-slider {
	position: relative;
}

.slider-overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	padding: 0 80px;
}

.slider-overlay p,
.slider-overlay h2,
.slider-overlay a {
	color: #fff;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.slider-overlay p {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 0;
}

.slider-overlay h2 {
	font-size: 36px;
}

.slider-overlay a:hover {
	border-color: #fff;
	background: #fff;
	color: #000;
}

.slider-overlay a {
	letter-spacing: 4px;
	font-weight: 700;
	border: 2px solid #fff;
	display: inline;
	position: absolute;
	top: 63%;
	left: 44%;
	font-size: 12px;
	transition: all .4s;
}


/*--------------------------------------
  7.  Promo Box
--------------------------------------*/

.promo-box {
	margin-top: 40px;
	display: none;
}

.single-promo-box {
	position: relative;
	margin-bottom: 10px;
}

.single-promo-box .overlay {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.single-promo-box .promo-title {
	font-family: serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 4px;
	position: absolute;
	top: 5%;
	left: 4%;
	bottom: 5%;
	right: 4%;
	margin: 0;
	border: 1px solid #fff;
	width: 92%;
	height: 90%;
	background: rgba(0, 0, 0, 0.20);
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	transition: all .5s;
}

.single-promo-box .promo-title span {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	width: 50%;
	padding: 10px;
	text-align: center;
	display: inline;
	position: absolute;
	left: 25%;
	bottom: 39%;
	color: #fff;
	transition: all .5s;
}

.single-promo-box:hover .promo-title span {
	border-color: #BC9F60;
	color: #BC9F60;
}

.single-promo-box:hover .promo-title {
	background: rgba(0, 0, 0, 0.60);
}


/*--------------------------------------
  Main Content
--------------------------------------*/

.main-content {
	margin-top: 50px;
}

.page-header{
	background: #fff;
	padding: 20px;
	margin-top: 0;
}
.page-header .page-title{
	margin: 0;
	text-align: center;
}


/* Post Layouts */

article.post {
	background-color: #fff;
	margin-bottom: 35px;
	padding: 30px;
	border: 1px solid #eeeeee;
}
.entry-cat .cat a{
	font-size: 12px;
	text-transform: uppercase;
	color: #BC9F60;
}
.entry-cat .cat a:hover{
	text-decoration: underline;
}
.entry-cat{
	letter-spacing: 1px;
	margin-bottom: 17px;
}

.entry-header h2.entry-title {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 17px;
}

.entry-header h2.entry-title a {
	font-size: 30px;
	color: #212121;
}

.entry-header h2.entry-title a:hover,
.entry-header .entry-meta span a:hover {
	color: #BC9F60;
}

.entry-header .entry-meta {
	margin-bottom: 26px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.entry-header .entry-meta span {
	color: #b4b4b4;
	*margin: 0 7px;
	font-size: 12px;
}

.entry-meta span a,
.entry-meta span .comment {
	color: #BC9F60;
}
.entry-meta span.date{
	margin: 0 7px 0 0;
}

.post-thumb {
	margin-bottom: 22px;
}

.btn-continue-reading {
	margin-top: 26px;
}

.more-link {
	color: #BC9F60;
	font-size: 11px;
	letter-spacing: 2px;
	transition: all .5s;
}
.more-link:hover {
	text-decoration: underline;
}

/* block */
.blockview .entry-cat{
	*padding-bottom: 15px;
}

/* Single content */
.large-featured-img{
	*height: 550px;
}
.single-large-ft{
	margin-top: -130px;
}
.single-content .entry-cat{
	margin-bottom: 0px;
}
.single-content .entry-content{
   overflow: hidden;
}


.sticky {
	display: block;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* pagination */
.pagination {
	width: 100%;
	text-align: center;
}
.pagination a{
	padding: 10px 15px;
	min-width: 42px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	margin-left: -1px;
	line-height: 1.42857143;
	text-decoration: none;
	background-color: #fff;
	color: #000;
	border: 1px solid #eeeeee;
}
.pagination a,
.pagination .current{
	display: inline-block;
	border: 2px solid transparent;
}
.pagination a:hover,
.pagination .current{
	background: #BC9F60;
}
.pagination .current{
	padding: 10px 15px;
	border: 1px solid #eee;
}
.pagination ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.pagination ul li {
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/*--------------------------------------
  Widget
--------------------------------------*/

.sidebar .widget {
	background-color: #fff;
	border: 1px solid #eeeeee;
	padding: 28px;
	margin-bottom: 35px;
}

.sidebar .widget-title {
	font-family: serif;
	font-size: 16px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
	background: #222222;
	padding: 10px 0;
	color: #fff;
	letter-spacing: 1px;
}
.sidebar .widget_meta ul,
.sidebar .widget_archive ul,
.sidebar .widget_categories ul,
.sidebar .widget_recent_entries ul,
.sidebar .widget_recent_comments ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar .widget_meta ul li,
.sidebar .widget_archive ul li,
.sidebar .widget_categories ul li,
.sidebar .widget_recent_entries ul li,
.sidebar .widget_recent_comments ul li {
	border-bottom: 1px solid #eeeeee;
	padding: 6px 0 6px 12px;
	position: relative;
}
.sidebar .widget_meta ul li ul,
.sidebar .widget_archive ul li ul,
.sidebar .widget_categories ul li ul,
.sidebar .widget_recent_entries ul li ul,
.sidebar .widget_recent_comments ul li ul {
	padding-left: 15px;
	border-top: 1px solid #eeeeee;
	margin-top: 6px;
}
.sidebar .widget_meta ul li:last-child,
.sidebar .widget_archive ul li:last-child,
.sidebar .widget_categories ul li:last-child,
.sidebar .widget_recent_entries ul li:last-child,
.sidebar .widget_recent_comments ul li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}
.sidebar .widget_meta ul li:before,
.sidebar .widget_archive ul li:before,
.sidebar .widget_categories ul li:before,
.sidebar .widget_recent_entries ul li:before,
.sidebar .widget_recent_comments ul li:before {
	font-family: FontAwesome;
	content: "\f105";
	position: absolute;
	top: 7px;
	left: 0;
	color: #888888;
}
.sidebar .widget_meta ul li a,
.sidebar .widget_archive ul li a,
.sidebar .widget_categories ul li a,
.sidebar .widget_recent_entries ul li a,
.sidebar .widget_recent_comments ul li a {
	color: #212121;
	line-height: 26px;
	font-size: 14px;
}
.sidebar .widget_recent_entries ul li .post-date{
	display: block;
	font-style: italic;
	font-size: 12px;
	color: #888888;
}
.sidebar .widget a:hover {
	color: #BC9F60;
}


.social-widget a {
	border: 1px solid #eeeeee;
	width: 36px;
	height: 36px;
	display: inline-block;
	line-height: 36px;
	color: #888888;
	margin: 0 4px;
}

.social-widget a:hover {
	color: #ffffff;
	background-color: #BC9F60;
	border-color: #BC9F60;
}


/* Calendar */
#wp-calendar{
	width: 100%;
}
.widget_calendar caption{
	font-size: 18px;
	color: #111;
	line-height: 1.111em;
	*background: #f3c9dd;
	font-weight: 600;
	text-transform: uppercase;
	padding: 9px 0 5px;
	text-align: center;
	margin-bottom: 10px;
}

.widget_calendar table{
	position: relative;
}

.widget_calendar table td,
.widget_calendar thead th{border: 1px solid #eee;}

.widget_calendar thead th{
	font-size: 13px;
	background: #fff;
	color: #111;
	font-weight: 600;
	height: 45px;
	text-align: center;
}

.widget_calendar tbody td{
	text-align: center;
	font-size: 14px;
	height: 45px;
	line-height: 45px;
	color: #111;
	/*background: #fff;*/
}

.widget_calendar table #prev a{
	left: 15px;
	position: absolute;
	top: 12px;
	background: url(assets/images/btn-prev-month.png) no-repeat;
	width: 7px;
	height: 12px;
	text-indent: -9999px;
}

.widget_calendar table #next a {
	position: absolute;
	right: 15px;
	top: 12px;
	background: url(assets/images/btn-next-month.png) no-repeat;
	width: 7px;
	height: 12px;
	text-indent: -9999px;
}

.widget_calendar table tbody td a{
	display: block;
	height: 100%;
	background: #f3c9dd;
	color: #fff;
}

.widget_calendar table tfoot td{
	line-height: 0;
}

.tagcloud a {
	background-color: transparent;
	color: #212121;
	display: inline-block;
	font-size: 12px !important;
	padding: 6px 10px;
	margin-right: 4px;
	margin-bottom: 7px;
	border: 1px solid #eeeeee;
}

.tagcloud a:hover {
	color: #ffffff;
}

/* Widget Search*/
.widget_search .search-submit{
	display: none;
}
.widget_search label{
	width: 100%;
}

/* Widget Latest Post */
.sb-latest-posts .media {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 16px;
	margin-top: 16px;
}

.sb-latest-posts .media:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.sb-latest-posts .media-body .title{
	margin-top: 0;
	margin-bottom: 6px;
}

.sb-latest-posts .media-body .title a {
	font-size: 14px;
	color: #212121;
	line-height: 20px;
}

.sb-latest-posts .entry-meta {
	color: #b4b4b4;
	display: block;
	font-style: italic;
	font-size: 12px;
	color: #888888;
}

/* Widget List layout // Widget Classic layout */
.sb-cat-posts-classic .post-items,
.sb-cat-posts-list .post-items {
	position:relative;
	margin-bottom:30px;
}
.sb-cat-posts-classic .post-items:last-child,
.sb-cat-posts-list .post-items:last-child {
	margin-bottom:0;
}

.sb-cat-posts-classic .post-items .entry-image,
.sb-cat-posts-list .post-items .entry-image {
	width:100%;
	max-height:212px;
	overflow:hidden;
}

.sb-cat-posts-classic .entry-post-title,
.sb-cat-posts-list .entry-post-title {
	font-size:16px;
	line-height:1.2em;
}
.sb-cat-posts-list .entry-post-title a,
.sb-cat-posts-classic .entry-post-title a{
	color: #212121;
}

.sb-cat-posts-list .post-items:not(:nth-child(1)) .entry-image {
	float:left;
	max-width:150px;
	max-height:100px;
}

.sb-cat-posts-list .post-items:not(:nth-child(1)) .entry-post-details {
	position:absolute;
	left:110px;
	bottom:0;
	padding:5px 8px;
	line-height:120%;
	background-color:#fff;
}

.sb-cat-posts-classic .post-items .entry-post-details,
.sb-cat-posts-list .post-items:nth-child(1) .entry-post-details {
	position:absolute;
	left:0;
	right:0;
	top:50%;
	-webkit-transform:translate3d(0,-50%,0);
	transform:translate3d(0,-50%,0);
	line-height:120%;
	text-align:center;
	padding:0 15px;
	-webkit-filter:blur(0);
}
.sb-cat-posts-classic .post-items .entry-post-details,
.sb-cat-posts-classic .post-items .entry-post-details a,
.sb-cat-posts-list .post-items:nth-child(1) .entry-post-details,
.sb-cat-posts-list .post-items:nth-child(1) .entry-post-details a {
	color:#fff;
}

.sb-cat-posts-classic .post-items img,
.sb-cat-posts-list .post-items:nth-child(1) img {
	width:100%;
	-webkit-filter:brightness(0.5) contrast(1.2);
	filter:brightness(0.5) contrast(1.2);
}

.sb-cat-posts-list .post-items:nth-child(1) .widget-post-category {
	margin-top:-30px;
}

.sb-cat-posts-classic .post-items .entry-post-title,
.sb-cat-posts-list .post-items:nth-child(1) .entry-post-title {
	font-size:24px;
}


/*--------------------------------------
  Single Blog
--------------------------------------*/

.tags-links a {
	color: #BC9F60;
	border: 1px solid #BC9F60;
	font-size: 14px;
	height: 35px;
	width: 105px;
	line-height: 35px;
	padding: 2px 10px;
	margin-right: 5px;
}

.tags-links a:hover {
	color: #fff;
	border: 1px solid #BC9F60;
	background-color: #BC9F60;
}

.page .post-thumbnail,
.single-content .post-thumbnail{
	margin-bottom: 20px;
}

.single-blog-box .overlay {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.single-blog-box .promo-text {
	font-family: serif;
	font-weight: 500;
	position: absolute;
	top: 10%;
	left: 5%;
	margin: 0;
	border: 1px solid transparent;
	width: 90%;
	height: 80%;
	background: rgba(0, 0, 0, 0.0);
	color: #fff;
	transition: all .5s;
}

.single-blog-box .promo-text p {
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	padding-top: 20px;
}

.single-blog-box .promo-text i {
	padding: 0 5px;
	font-size: 15px;
}

.single-blog-box .promo-text h5 {
	color: #fff;
}

.single-blog-box:hover .promo-text {
	border: 1px solid #fff;
	width: 90%;
	height: 80%;
	background: rgba(0, 0, 0, 0.3);
}

/* Author Box */

.autho-box {
	padding: 30px;
	background-color: #fff;
	color: #212121;
	border: 1px solid #eeeeee;
	overflow: hidden;
}

.autho-box img.avatar {
	margin-right: 15px;
	border-radius: 100%;
}

.autho-box h4,
.autho-box .author-name {
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 25px;
	margin-bottom: 0;
	letter-spacing: 5px;
}
.autho-box h4{
	margin-top: 0;
}
.autho-box .author-name a{
	color: #444444;
}
.autho-box .author-name a:hover{
	color: #BC9F60;
}

.autho-box p {
	line-height: 24px;
}

.single-blog-box {
	position: relative;
	text-align: center;
	margin-top: 30px;
}

.bypostauthor {
	display: block;
}


/* Comments section */
.comment-content a {
	word-wrap: break-word;
}
.comments-area {
	background: #fff;
	padding: 20px;
	margin-top: 30px;
	color: #212121;
	overflow: hidden;
	*width: 100%;
	border: 1px solid #eeeeee;
}

.comments-area li{
	list-style: none;
}
.comment .vcard,
.comment-box label {
	font-size:18px;
}
.comment-meta a,
.comment-box label,
.comment-reply-link,
.comment-reply-login{
	color:#8c919b;
}
.comment-metadata,
.comment-reply-link{
	font-size: 12px;
	font-style: italic;
}
.comments-title{
	clear: both;
}
.comment-reply-title {
	margin-bottom:30px;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #eee;
	clear: both;
}
.comments-area .children{
	margin-left: 25px;
	padding-left: 0;
	border-left: 1px solid #eee;
}
.comments-area .children li{
	padding-left: 30px;
	position: relative;
}
/*
.comments-area .children li:first-child:before{
	position: absolute;
	top: 25px;
	left: 0;
	width: 21px;
	height: 1px;
	background: #eee;
	content: '';
}*/
.comments-area .children li:before{
	position: absolute;
	top: 25px;
	left: 0;
	width: 21px;
	height: 1px;
	background: #eee;
	content: '';
}
ul.comment-list {
	padding-left: 0;
	margin-left: 0;
}
.comment-list {
	margin-top: 50px;
	margin-bottom: 20px;
	padding-top: 50px;
	overflow: hidden;
	padding-left: 0;
}
.comment-list .comment-body {
	position:relative;
	margin-bottom:10px;
	padding-bottom:13px;
	*border-bottom:1px solid #eee;
}
.comment-list .comment-body p {
	margin-bottom:18px;
}
.comment-list .comment-body .reply {
	position:absolute;
	top:0;
	right:10px;
}
.comment-list .comment-meta,
.comment-list .comment-body .comment-content {
	margin-left:60px;
}
.comment-list .comment-author .avatar {
	position:absolute;
	top:0;
	left:0;
	border-radius:50%;
}
.comment-list .comment-author .avatar,
.comment-list .bypostauthor .byuser .avatar {
	border:3px solid #f7f7f7;
}
.comment-list .children {
	*margin-left:10px;
}
.comment-list .comment-author .fn {
	font-style:normal;
}
.comment-list .form-submit {
	margin-bottom:60px;
}
.comment-list .comment-meta {
	*margin-bottom:10px;
}
.comment-list .comment-meta a {
	text-decoration:none;
}
.comment-edit-link:after{
	content:"\f040";
	font-size:16px;
	font-family:FontAwesome;
	padding:0 5px;
}
.comment-form-url,
.comment-form-email,
.comment-form-author {
	margin-bottom:30px;
}
.comment-form-author {
	margin-left:0;
}
.comment-form-comment {
	margin-bottom:20px;
}
.form-submit input.submit{
	width:100%;
}
.form-allowed-tags,
.comment-author .says {
	display:none;
}


/* Media */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}


/* Alignments */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Accessibility */
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/* Captions */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}


/* Galleries */
.gallery,.gallery-icon {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-icon{

}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}




/*Infinite scroll*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}


/*related post section*/

.related-post {
	padding: 20px 20px 10px;
	margin-top: 30px;
	background-color: #fff;
	color: #212121;
	overflow: hidden;
	border: 1px solid #eeeeee;
}

.related-heading {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #212121;
	font-weight: 700;
}
.related-heading h4{
 	margin-top: 0;
}

.related-items p {
	text-align: center;
	padding-bottom: 0;
}


.related-post .owl-buttons {
	position: absolute;
	top: -45px;
	right: 12px;
}

.related-post .owl-theme .owl-controls .owl-buttons div {
	color: #333;
	margin: 5px;
	padding: 0 5px;
	font-size: 22px;
	background: transparent;
}

.related-post .owl-theme .owl-controls .owl-buttons div:hover {
	color: #BC9F60;
}



/*--------------------------------------
  404 page
--------------------------------------*/

.p-404 {
	margin: 50px 0 50px;
}

.white-color {
	background-color: #fff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
	border: 1px solid #eeeeee;
}

.padding-content {
	padding: 40px;
}

.error-404 {
	padding-top: 100px;
	padding-bottom: 150px;
}

.error-404 h1 {
	font-size: 150px;
	margin-bottom: 30px;
}

.p-404 #searchform input#s {
	padding: 10px 13px;
	border-radius: 0;
	width: 100%;
}

p.go-back-home {
	margin: 40px;
	color: #eee;
	text-align: center;
}

p.go-back-home a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #eee;
	width: 180px;
	display: inline-block;
	background: #BC9F60;
	padding: 4px 0;
}

p.go-back-home a:hover {
	*color: #666666;
}

/*--------------------------------------
  Footer
--------------------------------------*/
#footer {
	margin-top: 50px;
}

#footer .footer-widget-section {
	padding-top: 30px;
	padding-bottom: 30px;
}
#footer .ft-bg{
	background-color: #222222;
}

.footer-widget,
.footer-widget .widget {
	margin-bottom: 30px;
}

/* About Me Widget */
.footer-widget .widget_silverbird-about-the-site p {
	margin-bottom:18px;
	color: #7C7C7C;
}
.footer-widget .widget_silverbird-about-the-site ul {
	list-style: none;
}
.social-follow a,
.footer-widget .widget_silverbird-about-the-site .social-about a {
   color: #7C7C7C;
}

.footer-widget .tagcloud a {
	background-color: #000000;
	color: #7C7C7C;
	border: 0;
}
.footer-widget .tagcloud a:hover {
	background-color: #BC9F60;
	color: #fff!important;
}

.footer-widget .widget-title {
	font-family: serif;
	font-size: 16px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 25px;
	text-transform: uppercase;
	text-align: center;
	background: #222222;
	border: 1px solid #515151;
	padding: 10px 0;
	color: #7C7C7C;
	letter-spacing: 1px;
}

.footer-widget .widget_meta ul,
.footer-widget .widget_archive ul,
.footer-widget .widget_categories ul,
.footer-widget .widget_recent_entries ul,
.footer-widget .widget_recent_comments ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-widget .widget_meta ul li,
.footer-widget .widget_archive ul li,
.footer-widget .widget_categories ul li,
.footer-widget .widget_recent_entries ul li,
.footer-widget .widget_recent_comments ul li {
	border-bottom: 1px solid #515151;
	padding: 6px 0 6px 12px;
	position: relative;
}
.footer-widget .widget_meta ul li ul,
.footer-widget .widget_archive ul li ul,
.footer-widget .widget_categories ul li ul,
.footer-widget .widget_recent_entries ul li ul,
.footer-widget .widget_recent_comments ul li ul {
	padding-left: 15px;
	border-top: 1px solid #515151;
	margin-top: 6px;
}
.footer-widget .widget_meta ul li:last-child,
.footer-widget .widget_archive ul li:last-child,
.footer-widget .widget_categories ul li:last-child,
.footer-widget .widget_recent_entries ul li:last-child,
.footer-widget .widget_recent_comments ul li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}
.footer-widget .widget_meta ul li:before,
.footer-widget .widget_archive ul li:before,
.footer-widget .widget_categories ul li:before,
.footer-widget .widget_recent_entries ul li:before,
.footer-widget .widget_recent_comments ul li:before {
	font-family: FontAwesome;
	content: "\f105";
	position: absolute;
	top: 7px;
	left: 0;
	color: #888888;
}
.footer-widget .widget_meta ul li a,
.footer-widget .widget_archive ul li a,
.footer-widget .widget_categories ul li a,
.footer-widget .widget_recent_entries ul li a,
.footer-widget .widget_recent_comments ul li a {
	color: #7C7C7C;
	line-height: 26px;
	font-size: 14px;
}
.footer-widget .widget_recent_entries ul li .post-date{
	display: block;
	font-style: italic;
	font-size: 12px;
	color: #888888;
}
.social-follow li a:hover,
.footer-widget .widget a:hover,
.footer-widget .widget_silverbird-about-the-site .social-about li a:hover {
	color: #BC9F60;
}

/* Recent Post */
.footer-widget .sb-latest-posts .media-body .title a {
	color: #7C7C7C;
}
.footer-widget .sb-latest-posts .media {
	border-bottom: 1px solid #515151;
}
.footer-widget .sb-latest-posts .media:last-child {
	border-bottom: none;
}

/* Footer Social Icons */
.social-follow{
	margin:0 ;
	text-align:center;
	padding: 20px 5px;
	clear: both;
}

.social-follow li{
	display:inline-block;
	margin:0 15px;
	*width: 10%;
	font-size: 30px;
}
.social-follow .facebook:hover {color: #3b5998;}
.social-follow .twitter:hover {color: #55acee;}
.social-follow .youtube:hover {color: #CD201F;}
.social-follow .instagram:hover {color: #BC2A76;}
.social-follow .pinterest:hover{color: #bd081c;}
.social-follow .rss:hover {color: #FA9D39;}

#footer .social-follow li{
	width: 10%;
}

/*hide the search btn in the footer*/
#footer .social-follow li:first-child{
	display: none;
}

#footer .footer-copy-right {
	background-color: #000000;
	color: #ffffff;
	font-size: 12px;
	padding: 21px 0;
}
#footer .footer-copy-right a {
	color: #ffffff;
}
#footer .footer-copy-right a:hover,
.more-link:hover {
	color: #BC9F60;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 30px;
  height: 30px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

/*----------------------------------------
	Preloader
------------------------------------------*/

.preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ffffff;
	z-index: 1099;
	visibility: visible;
	-webkit-transition: all 0.6s ease-out 0.4s;
	transition: all 0.6s ease-out 0.4s;
}

.spinner {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}

.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #d1d1d1;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 1.5s infinite ease-in-out;
	animation: bounce 1.5s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -0.75s;
	animation-delay: -0.75s;
}

@-webkit-keyframes bounce {
	0%,
	100% {
		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
