
/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.single-blog-box img{
		width: 100%;
	}



}

@media (min-width: 768px)  {
	/*** DROPDOWN ***/
	.main-menu ul .sub-menu,
	.main-menu ul .children {
		background-color: #fff;
		display: none;
		padding: 0;
		position: absolute;
		margin-top: 0;
		left: -3px;
		z-index: 99999;
		-webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
		-moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
		box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
		border: 1px solid #e2e2e2;
	}

	.main-menu ul .sub-menu a:after {
		border-right: 0;
	}
	.main-menu ul ul a .fa{
		float: right;
		margin-right: -12px;
	}
	

	.main-menu ul ul a,
	.main-menu ul ul ul li a {
		color: #666666;
		margin: 0;
		padding: 11px 22px;
		min-width: 200px;
		line-height: 19px;
		-o-transition: .25s;
		-moz-transition: .25s;
		-webkit-transition: .25s;
		transition: .25s;
		border-top: 1px solid #f4f4f4;
	}

	.main-menu ul ul ul li:first-child a {
		border-top: 0 solid #ddd;
	}

	.main-menu ul ul li,
	.main-menu ul ul ul li {
		padding-right: 0;
		margin-right: 0;
	}

	.main-menu ul li:hover > ul,
	.main-menu ul ul li:hover > ul {
		display: block;
	}

	.main-menu ul .sub-menu ul,
	.main-menu ul .children ul {
		left: 100%;
		top: 0;
	}

	.main-menu ul .sub-menu {
		text-align: left;
	}

	.main-menu ul .sub-menu li {
		margin: 0;
	}

}

@media (max-width: 1080px) {
	.logo-section,.ad-section,.hd-social-section{
	    float: none;
	    text-align: center;
	}
	.hd-social-section .social-follow {
	    padding-top: 20px;
	}
}


@media (max-width: 780px) {
	.main-menu .search-container #menu-search-btn{
	    margin-top: -50px;
		*line-height: 32px;
	}
}

@media (max-width: 800px) {
	
	.single-blog-box img,  
	.single-promo-box img{
		max-width: 100%;
	}

	.slider-overlay h2 {
		font-size: 13px;
	}
	.slider-overlay p {
		text-transform: uppercase;
		font-size: 10px;
		line-height: 5px;
		margin-bottom: 0;
	}

	.slider-overlay a {
		letter-spacing: 2px;
		font-weight: 700;
		border: 2px solid #fff;
		position: absolute;
		top: 67%;
		left: 50%;
		font-size: 10px;
		transition: all .4s;
		padding: 6px;
		margin-left: -58px;
	}
	.listview  .title-content{
	    padding-top: 0px;
	}
	.listview .post-thumb{
	    float: none;
	    text-align: center;
	    margin-bottom: 10px;
	}
	.single-large-ft{
	    margin-top: -100px;
	}
	.hd-social-section .social-follow li{
	    margin:0 15px;
	    padding: 0 15px;
	    font-size: 18px;
	}

	.hd-social-section .social-follow {
	    padding-left: 0;
	}
	.hd-social-section .social-follow li:first-child{
	    margin-left: 0;
	    padding-left: 0;
	}
	.two-featured{
	    margin-top: 10px;
	    margin-left: 3px;
	    width: 48.99%;
	    display: inline-block;
	}
}

/* XS Portrait */
@media (max-width: 480px) {
	.main-logo h1 {
	   font-size: 28px;
	}
	.two-featured{
	    margin-left: 0;
	    width: 100%;
	    display: block;
	}
	.two-featured:first-child{
	    margin-top: 20px;
	}
	.single-large-ft{
	    margin-top: -60px;
	}
	.hd-social-section .social-follow li{
	    margin:0 6px;
	    padding: 0 6px;
	    font-size: 14px;
	}
}
