/*
 *  Custom Customizer CSS
 *  Add icons with Customizer Titles
 *
 * @link https://github.com/MPolleke/silverbird-lite
 *
 * @package SilverBird Lite
 */
 li#accordion-section-title_tagline > h3.accordion-section-title:before{
	content: "\f119";
	font-family: dashicons;
	padding: 3px;
}
 li#accordion-section-background_image > h3.accordion-section-title:before{
	content: "\f105";
	font-family: dashicons;
	padding: 3px;
}
 li#accordion-panel-nav_menus > h3.accordion-section-title:before{
	content: "\f333";
	font-family: dashicons;
	padding: 3px;
}
 li#accordion-panel-widgets > h3.accordion-section-title:before{
	content: "\f308";
	font-family: dashicons;
	padding: 3px;
}
 li#accordion-section-static_front_page > h3.accordion-section-title:before{
	content: "\f102";
	font-family: dashicons;
	padding: 3px;
}
 li#accordion-section-custom_css > h3.accordion-section-title:before{
	content: "\f100";
	font-family: dashicons;
	padding: 3px;
}
